body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 50%;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 10px 0 5px;
  }
  
  input, select, button {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    width: fit-content;
    align-self: flex-end;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  